function add 1 0 INT
push argument 0 INT
push argument 1 INT
add INT
pop local 0 INT
push local 0 INT
return
function main 4 0 INT
push constant 8 INT
pop local 0 INT
push local 0 INT
push constant 99 INT
pop local 1 INT
push local 1 INT
call add 2
pop local 2 INT
push local 2 INT
pop local 3 INT
push constant 0 INT
pop local 2 INT
push local 2 INT
return
