// File: string_ops.vm
// Contains string-related functions

function concatenate
    push constant 72   // 'H'
    push constant 105  // 'i'
    call add_char 2
    return

function add_char
    push argument 0
    push argument 1
    add
    return

function check_add
    call add1 0  // Referencing add function from math_ops.vm
    return