push constant 0 INT
pop local 0 INT
push local 0 INT
pop local 1 INT
function bubbleSort 22 0 VOID
push constant 0 INT
pop local 4 INT
push local 4 INT
pop local 2 INT
label #L0
push constant 1 INT
pop local 5 INT
push argument 1 INT
push local 5 INT
sub INT
pop local 6 INT
push local 2 INT
push local 6 INT
lt INT
pop local 7 INT
push local 8 INT
if-goto #L1
goto #L2
label #L1
push constant 1 INT
pop local 6 INT
push local 2 INT
push local 6 INT
add INT
pop local 7 INT
push local 7 INT
pop local 2 INT
goto #L0
label #L1
push constant 0 INT
pop local 7 INT
push local 7 INT
pop local 3 INT
label #L4
push argument 1 INT
push local 2 INT
sub INT
pop local 9 INT
push constant 1 INT
pop local 10 INT
push local 9 INT
push local 10 INT
sub INT
pop local 11 INT
push local 3 INT
push local 11 INT
lt INT
pop local 9 INT
push local 8 INT
if-goto #L5
goto #L6
label #L5
push constant 1 INT
pop local 11 INT
push local 3 INT
push local 11 INT
add INT
pop local 9 INT
push local 9 INT
pop local 3 INT
goto #L4
label #L5
push local 12 INT
pop local 9 INT
push constant 1 INT
pop local 13 INT
push local 3 INT
push local 13 INT
add INT
pop local 14 INT
push local 16 INT
pop local 15 INT
push local 9 INT
push local 15 INT
gt INT
pop local 14 INT
push local 8 INT
if-goto #L9
goto #L10
label #L9
push local 12 INT
pop local 9 INT
push local 9 INT
pop local 17 INT
push constant 1 INT
pop local 15 INT
push local 3 INT
push local 15 INT
add INT
pop local 9 INT
push local 19 INT
pop local 18 INT
push local 18 INT
pop local 12 INT
push constant 1 INT
pop local 9 INT
push local 3 INT
push local 9 INT
add INT
pop local 20 INT
push local 17 INT
pop local 21 INT
goto #L8
label #L10
label #L8
goto #L7
label #L6
goto #L3
label #L2
function main 11 0 INT
push constant 64 INT
pop local 1 INT
push constant 34 INT
pop local 2 INT
push constant 25 INT
pop local 3 INT
push constant 12 INT
pop local 4 INT
push constant 22 INT
pop local 5 INT
push constant 5 INT
pop local 6 INT
push local 6 INT
pop local 7 INT
push local 8 INT
push local 7 INT
call bubbleSort 2
pop local 9 VOID
push constant 0 INT
pop local 10 INT
push local 10 INT
return
